body{
	margin:0;
	padding: 0;
	border: 0;
	height: 615px;
	width: 360px;
}
input[type=text]{
	width:284px;
	background-image: url('../images/textBG300.png');
	height: 34px;
	padding: 0 8px;
	border:0;
	margin:0;
	outline: 0;
}

input[type=password]{
	width:284px;
	background-image: url('../images/textBG300.png');
	height: 34px;
	padding: 0 8px;
	border:0;
	margin:0;
	outline: 0;
}

input:focus {
	background-position: 0 -34px;
}
input.mediumLarge {
	width:258px;
	background-image: url('../images/textBG274.png');
}
input.medium {
	width:184px;
	background-image: url('../images/textBG200.png');
}
input.small {
	width:109px;
	background-image: url('../images/textBG125.png');
}
input.tiny {
	width:78px;
	background-image: url('../images/textBG94.png');
}