html{
	background: #000;
}
body{
	margin:0;
	padding: 0;
	border: 0;
	height: 615px;
	width: 360px;
	font-family: arial, sans-serif;
	background: #efefef;
	position: relative;
}
#loadingOverlay{
	position: absolute;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	background-image: url('../images/loading_logo.gif');
	background-repeat: no-repeat;
	background-position: 117px 243px;
	display: none;
	width:360px;
	height: 615px;
}
div.MainContainer{
	margin: 10px 10px 10px 10px;
	width: 340px;
}
div.basicRow{
	height: 34px;
	margin: 3px 0;
}
span.light{
	font-family: arial, san-serif;
	font-size: 18px;
	color: #888;
	margin-right: 10px;
	display: inline-block;
}
select,input{
	font-weight: bold;
	color: #444;
}
input{
	background: #efefef;
	border: 1px solid #cdcdcd;
	height: 23px;
	padding-left: 8px;
}
div.selectWrap{
	display: inline-block;
	overflow: hidden;
	border: 1px solid #CDCDCD;
	height: 25px;
	vertical-align: top;
	position: relative;
}
div.selArrow{
	background-image: url('../images/down_arrow.png');
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	position: absolute;
	top:0;
	right:0;
}
select{
	background: #efefef;
	border:0;
}
textarea{
	background: #efefef;
	border: 1px solid #cdcdcd;
	color: #444;
	font-family: arial, sans-serif;
}
textarea.invalid{
	border-color: red;
}

/* Nav Container */

  nav{
    display:                -webkit-box;
    /*position:               fixed;*/
    bottom:                 0;
    width:                  100%;
    border-top:             1px solid rgba(255,255,255,.33);
    -webkit-box-shadow:     0 -0.05em 0 rgba(0,0,0,0.9);
    height:                 50px;
    -webkit-box-orient:     horizontal;
    -webkit-box-align:      center;
    -webkit-box-pack:       justify;
    -webkit-box-sizing:     border-box;
    background-color: #02d238;
    background-image: url('../images/logo_white_transparent.png');
	  background-repeat: no-repeat;
	  background-position: 159px 5px;
    font-family:            'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
    bottom:                 0px;
    left:                   0px;
    right:                  0px;
}


/*BUTTON STYLES LIKE IOS*/
.iosBtn,
nav a {
	display: inline-block;
	position: relative;
	margin: 0 8px 0 8px;
	color: #fff;
	font-weight: bold;

	text-decoration: none;
	text-align: center;
	padding: 8px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	border-top-color: #1e501e;
	border-left-color: #399839;
	border-right-color: #399839;
	border-bottom-color: #2e7c2e;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);

	text-shadow: 0 1px 1px rgba(131,209,131, 1);
	background-image: -webkit-linear-gradient(top, rgba(96,196,96,1) 0%,rgba(68,183,68,1) 50%,rgba(61,164,61,1) 50.5%,rgba(62,167,62,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(96,196,96,1) 0%,rgba(68,183,68,1) 50%,rgba(61,164,61,1) 50.5%,rgba(62,167,62,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.iosBtn.red{
	text-shadow: 0 1px 1px #c16072;
	border-top-color: #c75a6e;
	border-left-color: #9c3447;
	border-right-color: #9c3447;
	border-bottom-color: #7f2a3a;
	background-image: -webkit-linear-gradient(top, #c75a6e 0%,#bc3e55 50%,#a9384d 50.5%,#ab384d 100%);
	background-image: -moz-linear-gradient(top, #c75a6e 0%,#bc3e55 50%,#a9384d 50.5%,#ab384d 100%);
	background-image: -o-linear-gradient(top, #c75a6e 0%,#bc3e55 50%,#a9384d 50.5%,#ab384d 100%);
	background-image: -ms-linear-gradient(top, #c75a6e 0%,#bc3e55 50%,#a9384d 50.5%,#ab384d 100%);
	background-image: linear-gradient(top, #c75a6e 0%,#bc3e55 50%,#a9384d 50.5%,#ab384d 100%);
}
.iosBtn.plain{
	text-shadow: 0 1px 1px rgba(255,255,255, 0.8);
	border-color: #bcbcbc;
	color: #888;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}