
input[type=text]{
	width:284px;
	background-image: url('../images/textBG300.png');
	height: 34px;
	padding: 0 8px;
	border:0;
	margin:0;
	outline: 0;
}

input[type=password]{
	width:284px;
	background-image: url('../images/textBG300.png');
	height: 34px;
	padding: 0 8px;
	border:0;
	margin:0;
	outline: 0;
}

input:focus {
	background-position: 0 -34px;
}
input.mediumLarge {
	width:258px;
	background-image: url('../images/textBG274.png');
}
input.medium {
	width:184px;
	background-image: url('../images/textBG200.png');
}
input.small {
	width:109px;
	background-image: url('../images/textBG125.png');
}
input.tiny {
	width:78px;
	background-image: url('../images/textBG94.png');
}

#topBar{
	height: 50px;
	background-color: #02d238;
}

#menu{
	height: 50px;
	width: 50px;
	position:absolute;
	right:0;
	display: inline-block;
	background: #ddd;
	line-height: 50px;
	text-align: center;
	background-color: #02d238;
	border-left: 1px solid #009627;
}

.button{
	border:1px solid #009627;
    text-align: center;
    color:#009627;
	font-family:arial;
	font-size:20px;
	padding:10px 15px;
	vertical-align: top;
	text-decoration:none;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #02d238), color-stop(1, #67f18b));
}.button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #67f18b), color-stop(1, #02d238));
    border: 1px solid #009627;

}.button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #67f18b), color-stop(1, #02d238));
    border: 1px solid #009627;
}
