	#loginpage{
		display:none ;
	}
	
	#loadingpage{
		height:100%;
		width:100%;
		float:center;
		background-color: #02d23a;	
	}

	#loadingpage img{
		height:100px; 
		width: 360px; 
		margin-top: 250px
	}

	.credential{
		margin: 0px auto;
	    width: 320px;
	    height: 160px;
	}
							  
	#buttongroup{
	    width:320px;
	    height:50px;
		margin:80px auto 40px auto;
		font-size: 16px;
	}
     a{
	text-decoration: none;
      }

input{
	height: 40px;
	width: 320px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#topBar{
	text-align: center;
}

#topBar img{
	height: 50px;
	width: 180px;

}

.selected{
	background: #02d238; 
	color: #EFEFEF;

}

#loginBtn{
	line-height: 2em;
	font-size: 16px;
	width: 115px;
	height: 30px;
}

#signupBtn{
	line-height: 2em;
	font-size: 16px;
	width: 115px;
	height: 30px;
}

#goBtn{
	line-height: 2em;
	font-size: 16px;
	display: block;
	margin-left: 180px; 
	margin-top: 35px;
	width: 115px;
	height: 30px;
}