    
html{
	background: #444;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
	background: white;
	position: relative;
	height: 615px;
	width: 360px;
	font-family: arial;
}
#topBar{
	height: 50px;
	background-color: #02d238;
	border: 1px solid #009627;
}
#topBar input.mediumLarge{
	margin: 7px 15px;
	height: 34px;
	background: #67f18b;
	font-size: 14px;
	border: 1px solid #009627;
}

#menu{
	height: 50px;
	width: 50px;
	position:absolute;
	right:0;
	display: inline-block;
	background: #ddd;
	line-height: 50px;
	text-align: center;
	background-color: #02d238;
	border-left: 1px solid #009627;
}

#searchTools{
	height: 235px;
	background: #90ee90;
	width: 360px;
	height: 170px;
	background: #EFEFEF;
	border: 1px solid black;
	visibility: hidden;
	margin-top: -2px;
	margin-left: -1px;
	/*z-index: 20;*/
}
#bottomBar{
	background: #efefef;
	height: 330px;
	position: relative;
}
#bottom_icon{
	height: 30px;
	width: 30px;
	background-image: url('../images/sort_box.png');
	position: absolute;
	right: 0;
	margin-top: -30px;
	display: none;
}
#map_canvas{
	height: 235px;
}

#settingsButton{
	height: 40px;
	width: 40px;
	background-image: url('../images/sort_gear.png');
	position: absolute;
	left: 0;
	top: 250px;

}

#sort_by{
	margin-left: 19px;
	margin-top: 10px;
	width: 165px;
	height: 60px;
	padding-bottom: 5px;
	display: inline-block;
}

#lo-hi{
	width: 105px;
	height: 60px;
	position: absolute;
	right:0;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 7px;

}
.sort_text{
	font: 17px, arial, bold;
	color: #444444;
	padding-bottom: 5px;
}

.sort_button{
	height: 35px;
	width: 35px;
	background-image: url('../images/lo-hi.png');
	display: inline-block;
	margin-right: 10px;

}

#resultsScroll{
	height: 50px;
	background: #efefef;
	overflow: auto;
	overflow-y: hidden;
}
#resultsScrollChild{
	height: 50px;
	min-width: 600px;
	overflow: auto;
	overflow-y: hidden;
}
div.resultSmall{
	display: inline-block;
	border-right: 1px solid #d1d2d2;
	border-bottom: 1px solid #d1d2d2;
	height: 50px;
	width: 80px;
	text-align: center;
	background: #e6e6e5;
	font: bold 19px arial;
	color: #444444;
	line-height: 50px;
	 background: -webkit-linear-gradient(top, #efefef, #dcdcdc);
	background: -moz-linear-gradient(top, #efefef, #dcdcdc);
  

}

a:link{color:inherit; text-decoration: none}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

#postDetail{
	width:320px;
	height:140px;
	position:relative;
	margin:20px;
}

#username{
	color: #777777;
	font-size: 10px;
	font-weight: bold;
}
#pay{
	position: absolute;
	right:0;
	top:0;
}
#moneyWrap{
	display: block;
	color:#777777;
	font-size: 30pt;
	text-align: center;
	margin-right: 5px;
	line-height: 35px
}

#perWrap{
	color:#777777;
	font-size: 12px;
	display: block;
	right: 5px;
	margin-top: 5px;
}

#title{
	font-size: 20px;
	font-weight: bold;
	color:#444444;
}

#username{
	font-size: 16px;
	color: #777777;
}

#description{
	display: block;
	position: absolute;
	margin-top: 30px;
	color:#444444;
}
#readMore{
	width:70px;
	position: absolute;
	bottom: 0;
	text-align: center;
	margin-left: 140px;
	float:right;
    display: block;
}
div.sel{
	background: #ddd;
}


#sort_tools{
	position: absolute;
	height: 75px;
	background: #c1c1c1;
	z-index: 10;
	margin-top: -75px;
	width: 360px;
	display: none;
}

#searchWindow{
	padding: 10px 10px;
	width: 340px;
	height: 160px;
	position:relative;
	font-size: 18px;
	font-weight: bold;
	background-color: #EFEFEF;
	color: #444444;
	z-index: 10;
	visibility: hidden;
}

#searchButton{
	position:absolute;
	right:10px;
	width:83px;
	height: 24px;
	border: 1px solid black;
	text-align: center;
	margin-top: 10px;
	line-height: 1.3em;
}

#searchPayInput{
	margin-bottom: 10px;
}

#searchPayInput input{
	width: 80px;
	height: 24px;
	font-size:16px;
	background:transparent;
	border: 1px solid #CDCDCD;
}


#searchJob{
	margin-bottom: 10px;
	height: 24px
}
#searchJobDropDown{
   width: 305px;
   height: 20px;
   background: url('../images/down_arrow.png') no-repeat absolute right;

}
#searchJob select{
	text-align: center;
	position: absolute;
	right: 10px;
	width: 305px;
	height: 24px;
	background: transparent;
   line-height: 1;
   font-size: 16px;
   border-radius: 0;
   -webkit-appearance: none;
   border: 1px solid #CDCDCD;
   color: #444444;

}

#searchLocation{
	margin-bottom: 10px;
	height: 24px;
}
#searchLocation input{
	position: absolute;
	right: 10px;
	height: 24px;
	width: 300px;
	font-size: 16px;
	background:transparent;
	border: 1px solid #CDCDCD;
}

#searchDistance{
	margin-bottom: 10px;
	height:24px;
}

#searchDistanceDropDown{
	width: 220px;
   height: 20px;
   overflow: hidden;
   background: url("../images/down_arrow.png") no-repeat right #ddd;
}

#searchDistance select{
	text-align: center;
	position: absolute;
	right: 10px;
	width: 220px;
	height: 24px;
	background: transparent;
   line-height: 1;
   font-size: 16px;
   border-radius: 0;
   -webkit-appearance: none;
   color: #444444;
   border: 1px solid #CDCDCD
}

.sort_button.selected{
	background-position: 0 35px;
}