body{
	width: 360px;
	height: 100%;
}
#topBar{
	height: 60px;
}
#topBar input{
	margin: 13px;
}
#menu{
	height: 60px;
	width: 60px;
	background: green;
	position:relative;
	right:0;
}
#map_canvas{
	height: 200px;
}