html{
	background: #444;
}
body{
	background: #fff;
	width: 360px;
	height: 615px;
	position: relative;
	font-family: arial, sans-serif;
}
#topBar{
	height: 60px;
}
#topBar input{
	margin: 13px;
	height: 34px;
}
#menu{
	height: 60px;
	width: 60px;
	position:absolute;
	right:0;
	display: inline-block;
	background: #ddd;
	line-height: 60px;
	text-align: center;
}
#searchTools{
	height: 235px;
	background: #90ee90;
}
#bottomBar{
	background: #fff;
	height: 235px;
}
#map_canvas{
	height: 320px;
}
#resultsScroll{
	height: 40px;
	background: white;
	overflow: auto;
	overflow-y: hidden;
}
#resultsScrollChild{
	height: 40px;
	min-width: 600px;
	overflow: auto;
	overflow-y: hidden;
}
div.resultSmall{
	display: inline-block;
	border-right: 1px solid #555;
	height: 40px;
	width: 50px;
	line-height: 40px;
	text-align: center;
}
h1{
	margin: 10px;
}