#bottomBar{
  height: 60px;
  background: #dcdcdc;
  position:relative;
}

#pagecontents{
  height: 505px;
  background: #efefef;
  width: auto;
}

#menu_bar{
  height: 50px;
  background: #ececec;
}

#notifications_tab{
  width: 119px;
  font-size: arial bold 17px;
  color: #444444;
  border-right: 1px solid #d1d2d2;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

#myposts_tab{
  width: 119px;
  font-size: arial bold 17px;
  color: #444444;
  border-right: 1px solid #d1d2d2;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

#myclaims_tab{
  width: 119px;
  font-size: arial bold 17px;
  color: #444444;
  border-right: 1px solid #d1d2d2;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

ul{
  list-style-type: none;
  margin-left: -40px;
  position: absolute;
  top: 87px;
  width: 360px;

}

li{
  list-style: none;
  position: relative;
}

#myclaims{
height: 455px;
}

.feed_item{
  height: 100px;
  position: relative;

}

.claims_article{
  height: 85px;
  background: #efefef;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid white;
  padding: 10px 15px;
  display: block;
}

.claims_article .user_data{
  margin-top: 5px;
}


.claims_article .title{
  font: bold 15px arial;
  color: #444444;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.user_avatar{
  float: left;
  margin-right: 10px;
}

.claims_article .username{
  font: arial;
  font-size: 15px;
  color: #444444;
  line-height: 10px;
  display: block;
}

.claims_article .rating_text{
  text-transform: uppercase;
  color: #7c7c7c;
  font: 10px arial;
  display: block;
}

.claims_article .user_score{
color: #535353;
font-size: arial 20px bold;
display: block;
}

.claims_article .cost{
  font: bold arial;
  font-size: 40px;
  color: #777777;
  position: absolute;
  top: 35px;
  right: 15px;

}

.claims_article .time_left{
  font: arial;
  font-size: 12px;
  color: #7c7c7c;
  position: absolute;
  top: 10px;
  right: 15px;
}

#myposts{
height: 455px;
}

.posts_article{
  padding: 10px;
  height: 85px;
  background: #efefef;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid white;
  display: block;
}

.posts_article .title{
  font: bold arial 15px;
  font-weight: bold;
  color: #444444;
  display: block;
}

.posts_article .description{
  font: arial;
  font-size: 15px;
  color: #444444;
  display: block;

}
.posts_article .claims{
  font:arial 14px;
  color: #888888;
  line-height: 11px;
  position: absolute;
  bottom: 10px;
  
}

.posts_article .time_left{
  font:arial 14px;
  color: #888888;
  line-height: 11px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#notifications{
height: 455px;
}

.notif_article{
  padding: 15px 10px;
  height: 85px;
  background: #efefef;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid white;
  display: block;
}

.notif_article .message{
font: arial;
font-size: 15px;
color: #444444;
}

.notif_article .username{
  font-weight: bold;
}

.notif_article .title{
  font-weight: bold;
}

.notif_article .date{
  font: arial;
  font-size: 14px;
  color: #888888;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

#toMyProfile{
  line-height: 2em;
  margin-top: 10px;
  width:120px;
  height:25px;
  position:absolute;
  left:0;
}

#toPostAJob{
  line-height: 2em;
  margin-top: 10px;
  width:120px;
  height:25px;
  position:absolute;
  right:0;
}