body{
	    position:relative;
}
.button {
      line-height: 36px;
      position: relative;
      margin-right:-5px;
}

#menu_bar{
  height: 50px;
  background: #ececec;
}

.menuLabel{
  width: 119px;
  font-size: arial bold 17px;
  color: #444444;
  border-right: 1px solid #d1d2d2;
  display: inline-block;
  text-align: center;
  line-height: 50px;
     background: -webkit-linear-gradient(top, #efefef, #dcdcdc);
  background: -moz-linear-gradient(top, #efefef, #dcdcdc);
}

#bottomBar{
  height: 515px;
  background: #dcdcdc;
}

#bottom_area{
  height: 455px;
  background: #efefef;
}