
html{
	background: #000;
}
body{
	background-color: #EFEFEF;
	position: relative;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#userinfo{
	height: 60px;
	width: 250px;
	position: relative;
	display: inline-block;
	top: 10px;
	margin-left: 80px;
}

#buttongroup{
	width:360px;
	position: relative;
	height: 50px;
	background-color:#02d238; 
}

#profilepic img{
	margin-left: 10px;
	margin-top: 10px;
	height: 60px;
	display: inline-block;
	width: 60px;
	border: 1;
	position: absolute;
}

#username{
	display: block;
	color: #444444;
	font-weight: bold;
	font-size: 20px;
}

#ratinglabel{
	display: block;
	font-size: 8px;
	color:#AA7CAA;
}

#ratingvalue{
	display: block;
	font-size: 20px;
	color:#535353;
}

#detail{
	width: 340px;
	margin: 0 auto;

}

.detailitem{
	display:block;
	margin-top: 30px;
	font-size: 16px;
}

.detaillabel{
	width:90px;
	display:inline-block;
	text-align: right;
	color:#888888;
}

.detailvalue{
	display:inline-block;
	margin-left: 25px;
	color: #444444;
}
.detailvalue input{
	background: transparent;
	font-size: 16px;
	border: 1px solid #efefef;
}

.detailvalue input[placeholder]{
	color: #444444;
}


input.enabled{
	border-color: #888;
}

input[type=password]{
	width: 220px;
	font-size:16px;
	height: 22px;
	padding: 0;

}

div.pw{
	display: none;
}

.button {
      display:inline-block;
      color:#174e71;
      font-family:arial;
      height:28px;
      width:40px;
      margin-top: -1px;
}

a{
	text-decoration: none;
}

#back{
	position: absolute;
	left: 0;
}
#edit{
	position: absolute;
	right: 0;
}
