body{
	position:relative;
}

.button {
  line-height: 25px;
  display:inline-block;
  font-size:20px;
  position: relative;
  height:30px;
  /*width:60px;*/
  margin-right:-5px;
}


/*.buttongroup{
	margin-right: auto;
	margin-left: auto;
	width:240px;
	margin-top: 200px;
	margin-bottom: 200px
}*/

/*All the UI components are described here*/
.postTitle{
	display: inline-block;
	font-size: 24px;
	font-family: arial;
	margin-left:30px;
	margin-top:20px;
}

#cancelButton{
	display: inline-block;
	float:right;
	right:40px;
	top: 10px;
}

#jobDescription{
	display: block;
	width: 336px;
	height: 125px;
	margin-bottom: 12px;
}

#Description{
	height: 100px;
	/*border: 1px solid black;*/
	margin-top: 40px;
	/*border:none;*/
}

.priceLabel{
	display: inline-block;
	font-size: 24px;
}
#spacer{
	display: inline-block;
	margin: 0 12px;
}
#flatCheck{
	font-size: 19px;
}

.priceInput{
	margin-top: 10px;
	display: inline-block;
}
#flatVanisher{
	font-size: 17px;
}

.checkBoxes{
	margin: 15px 0 0 15px;
	font-family: arial;
	width: 300px;
}
input.invalid{
	border-color: red;
}
#checkWrap{
	margin: 15px 0 0 0;
}
#expiryWrap{
	margin-top: 15px;
}
#jobPay{
	width: 86px;
}
#payPer{
	width: 161px;
}
#jobTitle{
	width: 285px;
}
#jobLocation{
	width: 248px;
}
#postTypeSelect{
	width:284px;
}
#typeSelWrap{
	width: 243px;
}
#numSelWrap{
	width: 75px;
}
#dateNum{
	width: 100px;
}
#dateSelWrap{
	width: 100px;
}
#dateType{
	width: 125px;
}
#titleSpan{
	width: 34px;
}
#postButton{
	width: 318px;
	position: absolute;
	bottom: 7px;
}