#userDetail{
	width: 320px;
	height: 320px;
	margin:0 auto;
	position: relative;
}

#title{
	font-size: 20px;
	color:#888888;
	margin: 20px 20px;
}

input{
	font-size: 20px;
	height: 34px;
	width:320px;
}

#finish{
	position: absolute;
	right:0;
	bottom: 0;
}