#reviewPage{
	width: 340px;
	height: 540px;
	margin: 10px 10px;
	position: relative;
}

#userinfo{
	height: 60px;
	width: 250px;
	position: relative;
	display: inline-block;
	
	margin-left: 80px;
}

#profilepic img{

	height: 60px;
	display: inline-block;
	width: 60px;
	border: 1;
	position: absolute;
}

#username{
	display: block;
	color: #444444;
	font-weight: bold;
	font-size: 20px;
}

#ratinglabel{
	display: block;
	font-size: 8px;
	color:#AA7CAA;
}

#ratingvalue{
	display: block;
	font-size: 20px;
	color:#535353;
}

#title{
	font-size: 20px;
	margin-bottom: 20px;
	color:#444444;
}

#commentLabel{
	margin-top: 15px;
	margin-bottom: 15px;
	color: #888888;
}

#commentInput textarea{
	width:340px;
	height:160px;
	border: 1px solid #CDCDCD;
}

#plus{
	line-height: 1.5em;
	right:0;
	height:30px;
	width:120px;
	position: absolute;
	bottom: 0;
	font-size: 20px;
}

#minus{
	line-height: 1.5em;
	left: 0;
	height:30px;
	width:120px;
	position: absolute;
	bottom: 0;
	font-size: 20px;
}
