#userDetail{
	width: 320px;
	height: 380px;
	margin:0 auto;
	position: relative;
}

#title{
	font-size: 20px;
	color:#888888;
	margin: 50px 20px;
}

input{

	height: 34px;
	width:320px;
}

#finish{
	line-height: 2em;
	height:30px;
	width: 90px;
	position: absolute;
	right:0;
	bottom: 0;
	font-size: 16px;
}